        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>All About Anonutopia</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Anonutopia</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
<!-- 
                            <p><i>Anonutopia is an idea, idea of group of people working together towards one simple goal - complete 
                            and total freedom.
                            </i></p> -->

                            <p>Anonutopia is a smart contract based decentralized Internet country (or crypto-country) with its own cryptocurrencies, 
                            universal basic income, ATM network, taxi app, housing app and other similar Open Source applications.</p>

                            <p>In a reality, it's a suit of Open Source tools, cryptocurrencies and applications for managing a large group of 
                            people with common interests in a democratic manner.</p>

                            <h4>Basic Idea</h4>

                            <p>The idea is to gather a group of like-minded people and create tools for managing a direct democracy entity / country 
                            with its own banking and monetary system - Anonutopia. After that basic level of independence is reached, the citizens of 
                            Anonutopia will democratically decide on best ways to reach profitability which would then provide them with the means 
                            for universal basic income and further growth and development.</p>

                            <h4>Phases / Timeline</h4>

                            <p>Our plan is very modular and split into small pieces and steps. So far we have finished developing stable cryptocurrencies, 
                            wallets, websites and other necessary resources to start a crowdfunding campaign. Since crowdfunding is a core of our plan and 
                            it's never stopping, we're starting our attempts to reach profitability simultaneously with crowdfunding. These are the phases 
                            of our plan:</p>

                            <p>
                                <i class="fa fa-check-circle-o"></i>&nbsp;&nbsp;Develop wallet and stable cryptocurrencies<br>
                                <i class="fa fa-circle-o"></i>&nbsp;&nbsp;Reach basic crowdfunding goal<br>
                                <i class="fa fa-circle-o"></i>&nbsp;&nbsp;Decide democratically on ways to reach profitability<br>
                                <i class="fa fa-circle-o"></i>&nbsp;&nbsp;Reach profitability<br>
                                <i class="fa fa-circle-o"></i>&nbsp;&nbsp;Universal basic income<br>
                                <i class="fa fa-circle-o"></i>&nbsp;&nbsp;Next steps - growth and developing social and other services and apps
                            </p>

                            <h4>Ideals and Goals</h4>

                            <p>When we said that we want to gather like-minded people, these are the ideals that we had in mind:</p>

                            <p>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Positive thinking<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Unity<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Diversity<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Democracy<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Transparency<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Prosperity<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Anonymity<br>
                            </p>

                            <h4>Ideas for Projects, Apps and Services</h4>

                            <p>We utilise projects, applications and services in two ways: to make profit off of them (for basic income purposes) 
                            and to provide them cheaper or in a more accessible way to our citizens. These are the ideas we had so far:</p>

                            <p>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;AnonTaxi - our Uber competitor<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Housing app as Airbnb competitor<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Cryptocurrency exchange<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;ATM network<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;AnonFest - music and arts festival and annual meeting of Anonutopians<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Our own email / instant messenger solution<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Our own Open Source CMS and website management service<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Local foods app<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded camping spaces<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded caffe bar franchise<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded medical clinic<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded daycare<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded software agency<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded solar power plant<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded wind turbine power plant<br>
                                <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Crowdfunded cyptocurrency mining rig<br>
                            </p>

                            <h4>Territory</h4>

                            <p>Who needs territory if you get 1-2 thousand euros per month for doing exactly nothing? This is what we're going for.
                            But after we've reached this, Anonutopia can freely buy properties around the world and since we started from Croatia 
                            and Serbia, there are always poor and devastated Balkan countries to test-drive our tools with real countries and help 
                            them flourish.
                            </p>

                            <p>Why not make this a crowdfunding project for direct democracy in Balkan countries? Why not make Croatia, Serbia and 
                            Bosnia and Herzegovina vacation countries for Anonutopians from all over the world? We don't think beautiful Balkan 
                            countries would mind if they suddenly got a few million new citizens from around the world.
                            </p>

                            <p>It's up to you to decide. After all, this is a free democratic country!</p>

                            <p><i><a href="https://wallet.anonutopia.com/sign-up/">Apply for citizenship now</a>, join us and let's build a better future together!</i></p>

                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">Anote</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/faq/">&dash;&dash;&nbsp;&nbsp;FAQ</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="https://wallet.anonutopia.com/sign-up/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
