        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>What is ANOTE?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">ANOTE</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anote_logo.png" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <h3>About ANOTE</h3>

                            <p>ANOTE is a stadard and transparent Waves token which has more than one function:
                            </p>
                            
                            <p>
                                <i class="fa fa-gear"></i>&nbsp;&nbsp;Our main (crypto) currency<br>
                                <i class="fa fa-gear"></i>&nbsp;&nbsp;Decentralized stable coin<br>
                                <i class="fa fa-gear"></i>&nbsp;&nbsp;Building block for our Dapps
                            </p><br>

                            <h3>How do you make profit with ANOTE?</h3>

                            <p>There are three simple ways to make profit with ANOTE:</p>

                            <p>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Holding<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Referring<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Selling
                            </p>
                            
                            <p>When you purchase ANOTE, one part of the currency you provided goes to existing holders. 
                            You make money in the same way after you bought it just by holding it - new purchases earn 
                            for you.
                            </p>
                            
                            <p>You can also earn by referring other users and if they purchase ANOTE at any point, 
                            you get 20%. This is not limited just to first purchase, it stays like that forever.</p>
                            
                            <p>ANOTE programmatically grows it's price when new tokens are generated and 
                            purchased. This provides you with an investment opportunity to buy it, hold it for some 
                            time and then sell it for profit.</p><br>
                        </div>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/projects/">Projects</a>
                            <a href="/contact/">Contact</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
