        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>What is Anote?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Anote</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anote_logo.png" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <h3>About Anote</h3>

                            <p>Anote is a standard and transparent Waves token which has more than one function:
                            </p>
                            
                            <p>
                                <i class="fa fa-gear"></i>&nbsp;&nbsp;Our main (crypto) currency<br>
                                <i class="fa fa-gear"></i>&nbsp;&nbsp;Decentralized stable coin<br>
                                <i class="fa fa-gear"></i>&nbsp;&nbsp;Building block for our dapps
                            </p><br>

                            <h3>How to Make Profit with Anote?</h3>

                            <p>There are three simple ways to make profit with Anote:</p>

                            <p>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Holding<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Referring<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Selling
                            </p>
                            
                            <p>When you purchase anotes, one part of the deposit goes to existing holders with a  
                            Founder badge (you can read more about badges <a href="/tags/">here</a>). You make 
                            money in the same way after you bought it just by holding it - new purchases earn for you.
                            </p>
                            
                            <p>You can also earn by referring other users and if they purchase anotes at any point, 
                            you get 20%. This is not limited just to first purchase, it stays like that forever.</p>
                            
                            <p>Anote programmatically grows its price when new tokens are generated and 
                            purchased. This provides you with an investment opportunity to buy it, hold it for some 
                            time and then sell it for profit.</p><br>

                            <h3>Anote's Price Math</h3>

                            <p>Anote's price is programmed and highly controlled. The starting price is 0.01 EUR. After that, it's 
                            steeply going up in tiers of 1 thousand denominations. Every time 1,000 (1 thousand) anotes are 
                            sold, the price goes up for a price factor.</p>
                            
                            <p>Starting price factor is 0.0021 EUR and it's getting lower by 0.0001 every 1,000,000 (1 million) 
                            anotes sold (every thousand price tiers). This happens until it reaches its final level of 0.001 
                            EUR.
                            </p><br>

                            <h3>How Does It Work?</h3>

                            <p>Anote can be purchased through our <a href="https://wallet.anonutopia.com/">wallet</a>) with  
                            Waves, Bitcoin and Ether. Every time somebody does a purchase, half of the deposit goes  
                            to addresses with funder badge (read more about badges <a href="/tags/">here</a>) and the other 
                            half goes to Anonutopia's direct democracy fund.
                            </p>
                            <p>We will not use this fund for universal basic income payouts, but instead to develop applications, 
                            products and services that will make Anonutopia a profitable entity. Once we are profitable, we will
                            use the profit for both growth and universal basic income.</p><br>

                            <div class="well">
                                <h3 class="text-center">Current Anote Price</h3>
                                <p class="text-center" style="margin-bottom: 0;"><strong>{{ .PriceEur }} EUR</strong></p>
                            </div>

                        </div>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">Anote</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/faq/">&dash;&dash;&nbsp;&nbsp;FAQ</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
