        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Što je ANOTE?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">ANOTE</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anote_logo.png" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <h3>O Anoti</h3>
                            <p>Anota (ANOTE) je stable coin (stabilna kriptovaluta) i standardizirani i transparentni 
                            Waves token namijenjen 
                            pružanju infrastrukture za izradu i održavanje kripto-fiat valuta tj. kripto ekvivalenata "pravih" 
                            valuta poput kune, eura, dolara i slično.</p>
                            <p>Osim toga, Anota je i investicijski token koji ima pretprogramirani rast vrijednosti i cijene 
                            te svojim ulagačima osigurava zaradu samim širenjem. Ona ima vrlo jasno izražene elemente 
                            piramidalnog marketinga, ali za razliku od drugih proizvoda koji takav tip marketinga koriste 
                            za osobno bogaćenje svojih vlasnika, Anota ga koristi za stvaranje fonda koji služi stabilizaciji 
                            jedne od prvih stabilnih kriptovaluta na svijetu - Kriptokune.</p>
                            <p>Osim programiranog rasta vrijednosti, Anota svojim holderima isplaćuje i Ethere (ETH) pri svakoj 
                            novoj kupnji Anote tj. pri nastajanju novih apoena generiranjem anota u smart contractu. To 
                            osigurava poticaj za držanje Anote i odbija njene holdere od prodaje.</p>
                            <p>Iako je Anota programirana na način da je iznimno atraktivna investitorima u kripto-svijetu, 
                            njena primarna namjena je osiguravanje i backup kripto-fiat fonda (osiguravanje Kriptokune i ostalih
                            kripto-fiat ekvivalenata). To čini pomoću složenih "game theory" mehanizama. O tim mehanizmima ćete 
                            moći čitati više u whitepaper dokumentu koji ćemo objaviti uskoro.</p>
                        </div>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
