        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Apply for Citizenship</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Citizenship</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <p>Follow these simple steps to apply for citizenship in Anonutopia.</p><br>

                            <h5>1. Register Anonutopia Wallet</h5>

                            <p>Register a new Anonutopia wallet <a href="https://wallet.anonutopia.com" target="_blank">here</a>.</p><br>

                            <h5>2. Apply for citizenship</h5>
                            
                            <p>Click the "Settings" button in your wallet, fill in the form, and apply for citizenship.</p><br>
                                
                            <h5>3. Verify your application by e-mail</h5>
                            
                            <p>Click the "Verify E-mail" button in the e-mail you received.</p><br>
                            
                            <p>In order to become a Citizen and receive the tag, you can currently do the following.</p><br>
                                
                            <h5>Purchase and hold 1,000 Anote</h5>

                            <p>Make a deposit in Bitcoin, Ether or Waves into your wallet and exchange it for Anote.</p><br>
                            
                            <h5>Alternatives if you don't have cryptocurrencies</h5>

                            <p>If you don't have any cryptocurrencies, you can stay in the "Applicant" status indefinitely. However, there are 
                            currently two more ways to become a citizen:</p>

                            <p>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Get 10 other people to become applicants with verified emails using your referral link<br>
                                <i class="fa fa-check"></i>&nbsp;&nbsp;Enlist in Anonutopia's dark army - Anonymous (revealing soon)<br>
                            </p>

                            <p>Once cryptocountries become fully functional and we work out a way to verify people in a decentralized 
                            manner, it will be possible to become a citizen for free or almost free.
                            </p>

                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">Anote</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/faq/">&dash;&dash;&nbsp;&nbsp;FAQ</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
