        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Poruka Blokiranima</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Blokirani</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <p><strong>Blokirani, radimo na rješenju.</strong></p>

                    <p>Ovo nije politički pokret ni stranka, ovo nije tvrtka, ovo je haktivistički tehnološki pokret koji kao glavni cilj vidi 
                    pomaganje u odblokiravanju blokiranih građana Republike Hrvatske.</p>

                    <p>Moje ime je Pragmatic. Iz Hrvatske sam, ali živim kao digitalni nomad i nemam stan, stalni posao, radno mjesto niti radno 
                    vrijeme. Osim Hrvatske, moj dom su i tehnologija i svijet. Više od sedam godina sam bio u blokadi i to po zakonu po kojem je 
                    to bilo dozvoljeno jednu godinu. Blokirani, znate da pričam istinu i da su stvari koje se događaju oko tog zakona čisti 
                    kriminal.</p>

                    <p>Svoje dugove sam vratio, višestruko uvećane, iako sam dobio i nešto "oprosta" i danas imam račun u banci koji nije 
                    blokiran, ali ga gotovo uopće ne koristim jer više ne vjerujem i nikad više neću vjerovati bankama u čuvanju svog novca 
                    jer su se jednostavno pokazale nedoraslima tom zadatku.</p>

                    <p>Vjerujem sebi i svojim prijateljima, svom laptopu, mobitelu i kriptovalutama. Svoj novac držim na mobilnom telefonu 
                    i nitko mi ga ne može ukrasti ili prisilnim metodama ovršiti. Ukoliko mi netko ukrade mobitel, 
                    utipkam svoj seed (15 tajnih riječi koje omogućuju backup) u novi i normalno nastavim dalje.</p>

                    <p>Nešto slično bih sada volio omogućiti i vama.</p>

                    <p>Osnovat ćemo svoju vlastitu kriptovalutu (<strong>Kriptokuna</strong>), svoju vlastitu bankomatsku mrežu koja će biti pravedna 
                    te profit vraćati vama, korisnicima i svoju vlastitu aplikaciju za spajanje putnika i prijevoznika da bismo aktivirali 
                    ekonomiju Kriptokune. I to će biti tek početak, naši planovi idu još puno dalje.</p>

                    <p>Bit ću i ostati anoniman, ali sve što uradim i napišem bit će moguće provjeriti i verificirati u blockchainu.</p>

                    <p><strong>Iako imam sjajan tim, da bismo u ovome uspjeli, itekako ćemo trebati i vašu pomoć. Ideju o Kriptokuni nužno je već sada 
                    početi širiti od usta do usta među Blokiranima, korisnicima Ubera, ali i ostalima koji govore i razumiju hrvatski jezik. Nadam  
                    se da mogu računati na vas, vi na mene itekako možete.</strong></p>

                    <p><a href="/pridruzi-se/"><strong>Prijavite se već danas</strong></a> i krenimo sa širenjem ideje o boljoj budućnosti.</p>

                    <p>&nbsp;</p>

                    <p class="text-right">Srdačno, veselo i optimistično,<br>Pragmatic</p>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
