        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Crowdfund Direct Democracy</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Crowdfunding</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <h5>Crowdfund Direct Democracy Project in Balkan Countries!</h5>

                            <p>Apply for citizenship right now and help us build direct democracy tools and services and test them 
                            in devastated Balkan countries (Croatia, Serbia, Bosnia and Herzegovina, etc.). Our intention is not to 
                            destroy the national countries and institutions but to help them flourish instead.
                            </p>
                            
                            <p>Crowdfunding is the very core of Anonutopia. We will crowdfund everything and build and use tools for 
                            utilizing liquid democracy in order to manage everything Anonutopia does in a decentralized manner. 
                            Crowdfunding is built into ANOTE and its goal is to fund developing apps that incentivize spending ANOTE 
                            and its crypto fiat equivalents (built-in deflation).
                            </p><br>

                            <h3>Crowdfunding Rewards</h3><br>

                            <h5>1,000 ANOTE - Become a Citizen</h5>

                            <p>If you purchase and hold 1,000 ANOTE, you can become a citizen of Anonutopia without a real-life verification. 
                            This way you instantly become eligible for Anonutopia's universal basic income.
                            </p><br>

                            <h5>10,000 ANOTE - Become a Founder</h5>

                            <p>If you purchase and hold 10,000 ANOTE, you can become a citizen of Anonutopia without a real-life verification 
                            and instantly receive a Founder tag. This way you instantly become eligible for Anonutopia's universal basic income 
                            with index 2.5.
                            </p><br>

                            <h5>15,000 ANOTE - Become a Bankster</h5>

                            <p>If you purchase and hold 15,000 ANOTE, you can become a citizen of Anonutopia without a real-life verification 
                            and instantly receive a Bankster tag. This way you instantly become eligible for Anonutopia's universal basic income 
                            with index 2.0 and you can do commercial Bankster activities.
                            </p><br>

                            <h5>1,000,000 ANOTE - Run an AnonOracle / Become a Gateway</h5>

                            <p>If you purchase and hold 1,000,000 ANOTE (or get them leased to you), you can run an AnonOracle software, our PoS 
                            (Proof of Stake) security daemon and the very foundation of our banking system. Once you're running AnonOracle, you can 
                            also do Gateway commercial activities.
                            </p><br>

                            <p><i>Apply for citizenship and let's build a better future together!</i></p>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/">Crowdfunding</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/about/">About</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
