        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Crowdfund Direct Democracy</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Crowdfunding</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <h5>Crowdfund Direct Democracy Project in Balkan Countries!</h5>

                            <p>Apply for citizenship right now and help us build direct democracy tools and services and test them 
                            in devastated Balkan countries (Croatia, Serbia, Bosnia and Herzegovina, etc.). Our intention is not to 
                            destroy the national countries and institutions but to help them flourish instead.
                            </p>
                            
                            <p>Crowdfunding is the very core of Anonutopia. We will crowdfund everything and build and use tools for 
                            utilizing liquid democracy in order to manage everything Anonutopia does in a decentralized manner. 
                            Crowdfunding is built into Anote and its goal is to fund developing apps that incentivize spending Anote 
                            and its crypto fiat equivalents (built-in deflation).
                            </p>
                            
                            <p>You can read more about Anote <a href="/anote/">here.</a></p><br>

                            <h3>Crowdfunding Rewards</h3><br>

                            <h5>1 Anote - Become an Applicant</h5>

                            <p>If you purchase and hold 1 Anote, you can become a citizen of Anonutopia through the process of 
                            real-life verification. This way you receive an "Applicant" tag which allows you to get verified and 
                            become eligible for Anonutopia's universal basic income.</p>
                            
                            <p>You can currently get 1 Anote for free, check out our <a href="/airdrop/">airdrop page</a>.</p><br>

                            <h5>1,000 Anote - Become a Citizen</h5>

                            <p>If you purchase and hold 1,000 Anote, you can become a citizen of Anonutopia without a real-life verification. 
                            and instantly receive a "Citizen" tag. This way you instantly become eligible for Anonutopia's universal basic income.
                            </p><br>

                            <h5>10,000 Anote - Become a Founder</h5>

                            <p>If you purchase and hold 10,000 Anote, you can become a citizen of Anonutopia without a real-life verification 
                            and instantly receive a "Founder" tag. This way you instantly become eligible for Anonutopia's universal basic income 
                            with index 2.5.
                            </p><br>

                            <h5>15,000 Anote - Become a Bankster</h5>

                            <p>If you purchase and hold 15,000 Anote, you can become a citizen of Anonutopia without a real-life verification 
                            and instantly receive a "Bankster" tag. This way you instantly become eligible for Anonutopia's universal basic income 
                            with index 2.0 and you can do commercial Bankster activities.
                            </p><br>

                            <h5>150,000 Anote - Become an Angel</h5>

                            <p>If you purchase and hold 150,000 Anote, you can become a citizen of Anonutopia without a real-life verification 
                            and instantly receive an "Angel" tag. This way you instantly become eligible for Anonutopia's universal basic income 
                            with index 50.0. This is for the purpose of real-life testing universal basic income, and this way you get to be a part of the 
                            group that will first test universal basic income in real-life, with amounts sufficient for a decent living.</p>
                            
                            <p>The index will get lower as regular citizens approach this major milestone too.</p><br>

                            <h5>1,000,000 Anote - Run an AnonOracle / Become a Gateway</h5>

                            <p>If you purchase and hold 1,000,000 Anote (or get them leased to you), you can run an AnonOracle software, our PoS 
                            (Proof of Stake) security daemon and the very foundation of our banking system. Once you're running AnonOracle, you can 
                            also do Gateway commercial activities.
                            </p><br>

                            <p>If you're new to our tags system, you can read more about them <a href="/tags/">here</a>.</p>

                            <p><i><a href="/apply/">Apply for citizenship now</a>, join us and let's build a better future together!</i></p>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">Anote</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/faq/">&dash;&dash;&nbsp;&nbsp;FAQ</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
