        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Anonutopia Crypto Countries</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Crypto Countries</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <p><i>Crypto country is a country with its own AnonOracle within Anonutopia network and its 
                            own associated tag.</i>
                            </p>

                            <p>Universal basic income is profit made by Anonutopia's services and applications in some country 
                            split between the citizens of that country (and Anonutopia). AnonOracles are the foundations of our 
                            infrastructure in every country. This is because we want Anonutopia to be completely decentralized 
                            and redundant.
                            </p><br>

                            <h4>Crypto Countries</h4>

                            <p>So far, these countries have activated their AnonOracles:</p>

                            <p>
                                <i class="fa fa-globe"></i>&nbsp;&nbsp;<a href="https://www.kriptokuna.com/" target="_blank">Crypto Croatia / Kriptokuna</a><br>
                                <i class="fa fa-globe"></i>&nbsp;&nbsp;<a href="https://www.kriptodinar.com/" target="_blank">Crypto Serbia / Kriptodinar</a>
                            </p>

                            <div id="container" style="position: relative; width: 100%; margin-top: -30px;"></div>

                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/">Crowdfunding</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/cryptocountries/">Crypto Countries</a>
                            <a href="https://www.kriptokuna.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Croatia</a>
                            <a href="https://www.kriptodinar.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Serbia</a>
                            <a href="/about/">About</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/">Apply for Citizenship</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
