        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Anonutopia Documentation</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Docs</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <h4>Waves</h4>

                            <p>
                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;<a href="/staking/">Leasing Waves to Our Node for Staking</a>
                            </p><br>

                            <h4>AnonOracle</h4>

                            <p>Under the development.</p><br>

                            <h4>Bakster</h4>

                            <p>Under the development.</p><br>

                            <h4>Gateway</h4>

                            <p>Under the development.</p><br>
                            
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/">Crowdfunding</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/cryptocountries/">Crypto Countries</a>
                            <a href="https://www.kriptokuna.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Croatia</a>
                            <a href="https://www.kriptodinar.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Serbia</a>
                            <a href="/about/">About</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/">Apply for Citizenship</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
