        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Frequently Asked Questions</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">FAQ</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="faqRow">
                        <h4>What is Anonutopia?</h4>
                        <p>Anonutopia is a smart contract based decentralized Internet country (or crypto-country or 
                        decentralized autonomous country) with its own cryptocurrencies, universal basic income, ATM 
                        network, taxi app, housing app and other similar Open Source applications. In a reality, it's 
                        a suit of Open Source tools, cryptocurrencies and applications for managing a large group of 
                        people with common interests in a democratic manner.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Is your software Open Source?</h4>
                        <p>Yes, we're proud to say that everything we do is <a href="https://github.com/anonutopia" target="_blank">
                        free and Open Source</a>.</p>
                    </div>

                    <div class="faqRow">
                        <h4>What technologies are you using for your tokens and smart contracts?</h4>
                        <p>We use <a href="https://wavesplatform.com/" target="_blank">Waves</a> for our currencies and 
                        tokens and <a href="https://ethereum.org/" target="_blank">Ethereum</a> for our smart contracts. 
                        We're soon planning to move smart contracts to Waves too.</p>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">Anote</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/faq/">&dash;&dash;&nbsp;&nbsp;FAQ</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="https://wallet.anonutopia.com/sign-up/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>