        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Često postavljana pitanja</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Česta pitanja</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="faqRow">
                        <h4>Je li ovo sve po zakonu?</h4>
                        <p>Apsolutno, da! Bankomatsku mrežu koju ćemo izgraditi blokirani građani će moći koristiti za 
                        novac kojim svakako raspolažu preko zaštićenog računa, samo ćemo im omogućiti normalno korištenje 
                        njihovog novca koje je trenutno jako ograničeno (plaćanje računa putem Interneta, bankomate, Internet 
                        bankarstvo i slično). Osim toga, ICO (initial coin offering) je u potpunosti legalna i 
                        legitimna metoda crowdfundinga.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Zašto ste anonimni?</h4>
                        <p>Vlastitom anonimnošću i upotrebom smart contracta želimo dokazati kako anonimnost, 
                        transparenstnost i povjerenje mogu koegzistirati u savršenom skladu kad su u pitanju najmodernije 
                        tehnologije. Želimo ukazati na to da su smart contracti riješili problematiku povjerenja na Internetu 
                        i da se sve što govorimo da radimo može i verificirati i dokazati u našim smart contractima bez da nam 
                        vjerujete direktno i bez da u naš odnos uključujemo treće stranke poput banaka.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Koja je razlika između ANOTE-a i Kriptokune?</h4>
                        <p>Kriptokuna je token kojem je vrijednost pretprogramirana na način da bude stabilizirana 1:1 
                        sa "pravom" kunom. Kriptokuna je namijenjena svakodnevnoj upotrebi, u početku za plaćanje i naplatu
                        usluga prijevoza, a kasnije za bankomate i brojne druge usluge.
                        <br><br>
                        ANOTE je "bankarski token" koji nam omogućuje infrastrukturu za izradu Kriptokune te mu je
                        vrijednost programirana na način da ostvaruje brz i stabilan rast. ANOTE je zbog toga ujedno i investicijski 
                        token namijenjen da svojim investitorima donese zaradu.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Kako mogu kupiti Kriptokunu?</h4>
                        <p>Kriptokunu u ovom trenutku još uvijek nije moguće kupiti niti to ima pretjeranog smisla budući da još uvijek nisu 
                        objavljene aplikacije koje će ju koristiti, a ona je stabilni token pa nije pogodna za ulaganje. Kada to bude potrebno, Kriptokunu 
                        će biti moguće prodati i kupiti putem mjenjačnice integrirane u novčanik.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Kako mogu kupiti Anotu?</h4>
                         <p>ANOTE je token koji pruža infrastrukturu za Interenet bankarstvo, a ima pretprogramirani rast tako da je ujedno i investicijski 
                        token u koji se isplati uložiti već sada. Proces kupnje detaljno je opisan <a href="/novcanik/">ovdje</a>, a više o Anoti možete pročitati <a href="/anote/">ovdje</a>.</p>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>