        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Frequently Asked Questions</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">FAQ</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="faqRow">
                        <h4>What is Anonutopia?</h4>
                        <p>Under development.</p>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/faq/">&dash;&dash;&nbsp;&nbsp;FAQ</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>