
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Smart Contract Country</h1>
                            <p class="white-text" style="margin-bottom: 30px;">
                                Because blockchain's killer app is a smart contract based decentralized Internet country with its own 
                                cryptocurrencies, basic income, ATM network, taxi, housing and similar applications.
                            </p>
                            <a href="https://t.me/anonutopia" target="_blank" class="white-btn"><i class="fa fa-telegram"></i> Join Our Telegram Group</a>
                            <a href="/profit/" class="main-btn"><i class="fa fa-bitcoin"></i> Making Profit in Anonutopia</a>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->