
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Smart Contract Country</h1>
                            <p class="white-text" style="margin-bottom: 30px;">
                                Because blockchain's killer app is a smart contract based decentralized Internet country with its own 
                                cryptocurrencies, universal basic income, ATM network, taxi app, housing app and similar Open Source applications.
                            </p>
                            <a href="/#about" class="white-btn"><i class="fa fa-info"></i> Read More</a>
                            <a href="/#about" class="main-btn"><i class="fa fa-globe"></i> Apply for Citizenship</a>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Plan</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-bitcoin"></i>
						<h3>Develop Stable Coin</h3>
						<p>We have developed our own stable cryptocurrency and independent international banking system.</p>
						<a href="/anote/">Read More</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-bars"></i>
						<h3>Develop Apps and Services</h3>
						<p>Anonutopia will have it's own infrastructure, apps and projects in order to make profit.</p>
						<a href="/projects/">Read More</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-users"></i>
						<h3>Provide Basic Income</h3>
						<p>All profit Anonutopia makes will be used to provide universal basic income to it's citizens - Anonutopians.</p>
						<a href="/about/">Read more</a>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->


	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Make Profit in Anonutopia</h2>
					</div>
                    <p>Anonutopia is an anonymous and decentralized Internet entity. As such, it can't provide all the services it needs to provide on it's own. And because of this fact, there are numerous opportunities to earn cryptocurrencies and make profit with Anonutopia:</p>
                    <div class="feature">
						<i class="fa fa-check"></i>
						<p>Become ANOTE holder</p>
					</div>
                    <div class="feature">
						<i class="fa fa-check"></i>
						<p>Run AnonOracle</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Become Anonutopia Bankster</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Become Anonutopia Gateway</p>
					</div>
                    <p>Read more about it <a href="/profit/"><strong>here</strong></a>.</p>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="./img/profit1.jpeg" alt="">
						<img class="img-responsive" src="./img/profit2.jpeg" alt="">
						<img class="img-responsive" src="./img/profit3.jpeg" alt="">
						<img class="img-responsive" src="./img/about2.jpg" alt="">
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->

	<!-- Numbers -->
	<div id="numbers" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./img/background2.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- number -->
				<div class="col-sm-4 col-xs-6">
					<div class="number">
						<i class="fa fa-user"></i>
						<h3 class="white-text"><span class="counter">85</span></h3>
						<span class="white-text">Citizens</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-4 col-xs-6">
					<div class="number">
						<i class="fa fa-user-plus"></i>
						<h3 class="white-text"><span class="counter">12</span></h3>
						<span class="white-text">Applicants</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-4 col-xs-12">
					<div class="number">
						<i class="fa fa-euro"></i>
						<h3 class="white-text"><span class="counter">45,230</span></h3>
						<span class="white-text">Budget</span>
					</div>
				</div>
				<!-- /number -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Numbers -->

	<!-- Blog -->
	<div id="blog" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Recent Anonutopia News</h2>
				</div>
				<!-- /Section header -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-img">
							<img class="img-responsive" src="./img/blog12.jpeg" alt="">
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fa fa-user"></i>Pragmatic</li>
								<li><i class="fa fa-clock-o"></i>September 19, 22:18</li>
								<!-- <li><i class="fa fa-comments"></i>57</li> -->
							</ul>
							<h3>Anonutopia crowdfunding campaign has started</h3>
							<p>Today we started first phase in our crowdfunding campaing to fund Anonutopia and it's projects.</p>
							<a href="javascript:;">Read More</a>
						</div>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-img">
							<img class="img-responsive" src="./img/blog11.jpeg" alt="">
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fa fa-user"></i>Pragmatic</li>
								<li><i class="fa fa-clock-o"></i>September 10, 10:12</li>
								<!-- <li><i class="fa fa-comments"></i>57</li> -->
							</ul>
							<h3>Anonutopia MVP is finished (wallet and currencies)</h3>
							<!-- <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p> -->
                            <p>We have finished first MVP versions of Anonutopia wallet and cryptocurrencies - ANOTE and crypto fiat equivalents.</p>
							<a href="javascript:;">Read More</a>
						</div>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-img">
							<img class="img-responsive"  src="./img/blog10.jpeg" alt="">
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fa fa-user"></i>Pragmatic</li>
								<li><i class="fa fa-clock-o"></i>September 4, 21:32</li>
								<!-- <li><i class="fa fa-comments"></i>57</li> -->
							</ul>
							<h3>Serbian Anonymous has joined Anonutopia</h3>
							<p>Serbian Anonymous, a hacktivist group from Serbia today announced that they are joining Anonutopia project.</p>
							<a href="javascript:;">Read More</a>
						</div>
					</div>
				</div>
				<!-- /blog -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->

	<!-- Numbers -->
	<div id="numbers" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./img/background1.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <div class="home-content">
                            <h2 class="white-text">Claim Your 1 Free ANOTE</h2>
                            <p class="white-text" style="margin-bottom: 30px;">
                                In order to claim your free ANOTE, join our Telegram group and ask our friendly bot for it.<br>
                                Click the button bellow to find out more!
                            </p>
                            <a href="/airdrop/" class="main-btn"><i class="fa fa-dollar"></i> Claim 1 Free ANOTE</a>
                        </div>
                    </div>
                    <!-- /home content -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Numbers -->

	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Fund Direct Democracy</h2>
					</div>
                    <p>By purchasing ANOTE you're in fact crowdfunding a pure direct democracy project - Anonutopia. We will use this money to:</p>
                    <div class="feature">
						<i class="fa fa-check"></i>
						<p>Attract more citizens</p>
					</div>
                    <div class="feature">
						<i class="fa fa-check"></i>
						<p>Build ATM network</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Bootstrap commercial projects</p>
					</div>
                    <div class="feature">
						<i class="fa fa-check"></i>
						<p>Help Balkan countries test-drive direct democracy</p>
					</div>
                    <p>Read more about our crowdfunding campaign <a href="/crowdfunding/"><strong>here</strong></a>.</p>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6">
					<div id="about-slider1" class="owl-carousel owl-theme">
						<img class="img-responsive" src="./img/crowdfunding1.jpeg" alt="">
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->