        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kontakt</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Kontakt</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Contact -->
    <div id="contact" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section-header -->
                <div class="section-header text-center">
                    <h2 class="title">Javite nam se</h2>
                </div>
                <!-- /Section-header -->

                <!-- contact -->
                <div class="col-sm-6">
                    <div class="contact">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p>{{ obfuscate "anonutopia@protonmail.com" }}</p>
                    </div>
                </div>
                <!-- /contact -->

                <!-- contact -->
                <div class="col-sm-6">
                    <div class="contact">
                        <i class="fa fa-github"></i>
                        <h3>GitHub</h3>
                        <p><a target="_blank" href="https://github.com/anonutopia">github.com/anonutopia</a></p>
                    </div>
                </div>
                <!-- /contact -->

                <!-- contact form -->
                <div class="col-md-8 col-md-offset-2">
                    <form class="contact-form" action="/kontakt/" method="POST">
                        <input type="text" class="input" placeholder="Ime (obavezno)" name="name" value="{{ .Form.Name }}">
                        <input type="email" class="input" placeholder="Email (obavezno)" name="email" value="{{ .Form.Email }}">
                        <input type="text" class="input" placeholder="Naslov" name="subject" value="{{ .Form.Subject }}">
                        <textarea class="input" placeholder="Poruka (obavezno)" name="message">{{ .Form.Message }}</textarea>
                        <div class="row">
                            <div class="col-md-6"><input type="text" class="input" placeholder="Captcha (obavezno)" name="captcha" style="width: 100%;"></div>
                            <div class="col-md-6" style="margin-top: -15px;">{{ .Captcha.CreateHtml }}</div>
                        </div>
{{ if .Errors }}
                        <p class="bg-danger text-danger" style="margin-bottom: 20px; padding: 15px;">Molimo vas da popunite sva potrebna polja.</p>
{{ end }}
{{ if .CaptchaError }}
                        <p class="bg-danger text-danger" style="margin-bottom: 20px; padding: 15px;">Catpcha brojevi nisu točni. Molimo vas da pokušate opet.</p>
{{ end }}
{{ if .SendError }}
                        <p class="bg-danger text-danger" style="margin-bottom: 20px; padding: 15px;">Dogodila se greška. Molimo vas da pokušate opet..</p>
{{ end }}
{{ if .Success }}
                        <p class="bg-success text-success" style="margin-bottom: 20px; padding: 15px;">Poruka je uspješno poslana. Odgovorit ćemo vam u najkraćem mogućem roku.</p>
{{ end }}
                        <button class="main-btn">Pošalji poruku</button>
                    </form>
                </div>
                <!-- /contact form -->
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Contact -->

