        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Što je Kriptokuna?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">O Kriptokuni</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/kriptokuna_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <h3>O Kriptokuni</h3>
                            <p>Kriptokuna je stable coin (stabilna kriptovaluta) i standardizirani i transparentni 
                            Waves token koji 
                            u svakom trenutku ima vrijednost 1:1 sa kunom. Njena stabilna vrijednost osigurana je 
                            složenim algoritamskim mehanizmima uprogramiranim u <a href="/anote/">Anotu</a>.</p>
                            <p>Kriptokuna je upotrebni token koji služi za plaćanje proizvoda i usluga u svakodnevnom 
                            životu. Prvi proizvod koji će se moći plaćati Kriptokunom je AnonTaxi, naša jednostavna 
                            Open Source aplikacija za spajanje putnika i prijevoznika kojoj je cilj istisnuti Uber na 
                            hrvatskom tržištu (a kasnije i šire).</p>
                            <p>Uz AnonTaxi, Kriptokunu će vrlo brzo biti moguće unovčavati u "prave" kune upotrebom 
                            naše bankomatske mreže koju ćemo financirati crowdfundingom.</p>
                            <p>Daljnji planovi uključuju razvoj aplikacije za iznajmljivanje smještaja, 
                            razvoj Open Source bankomata (AnonATM), vlastog informativnog portala, vlastite komunikacijske 
                            i telekomunikacijske mreže, sve s ciljem stvaranja potražnje za Kriptokunom i posljedične 
                            demokratizacije i razvijanja transparentnosti u hrvatskom javno-političkom životu, ekonomiji, 
                            financijama, javnom sektoru i slično.</p>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
