
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" type="image/png" href="/favicon.ico?v=1.0.1" />
    <meta name="google-site-verification" content="Z6HC-hN3X2QZ3R7IWm6tblZar4bae-VQwLANyhICYOc" />

    <title>{{ .Title }}Anonutopia - Smart Contract Country</title>
    <meta name="description" content="{{ .Title }}Anonutopia is a smart contract based country with it's own basic income, ATM network, taxi, housing and similar applications and it's own cryptocurrencies."/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="/css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css?v=1.0.5" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta property="og:url"                content="https://www.anonutopia.com{{ .URI }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ .Title }}Anonutopia - Smart Contract Country!" />
    <meta property="og:description"        content="{{ .Title }}Anonutopia is a smart contract based country with it's own basic income, ATM network, taxi, housing and similar applications and it's own cryptocurrencies." />
    <meta property="og:image"              content="https://www.anonutopia.com/img/fb.png?v=1.0.0" />

    <script type="text/javascript">

        contractAddress = '{{ .ContractAddress }}';
        contractAbi = {{ .ContractAbi }};
        networkVersion = {{ .NetworkVersion }};

    </script>
</head>

<body>

    <!-- Header -->
    <header{{ if or (eq $.URI "/") (eq $.URI "/sudjeluj/") }} id="home"{{ end }}>
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('/img/background5.jpeg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- Nav -->
        <nav id="nav" class="navbar{{ if eq $.URI "/" }} nav-transparent{{ end }}">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="/">
                            <img class="logo" src="/img/logo.png" alt="logo">
                            <img class="logo-alt" src="/img/logo-alt.png" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right" id="main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="https://wallet.anonutopia.com">Wallet</a></li>
                </ul>
                <!-- /Main navigation -->

            </div>
        </nav>
        <!-- /Nav -->

{{ yield }}


    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo-alt.png" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->

                    <!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="https://web.facebook.com/kriptokunacom" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://github.com/anonutopia" target="_blank"><i class="fa fa-github"></i></a></li>
					</ul>
					<!-- /footer follow -->

                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright &copy; 2018 <a href="/">Anonutopia</a>.</p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <!-- Cookies lib -->
    <script src="/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="/js/main.js?v=1.0.7"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113507826-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113507826-3');
    </script>

</body>

</html>