        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako kupiti Anotu?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Kako kupiti</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <p><strong>Zbog zagušenosti Ethereum mreže, bili smo prisiljeni hitno prebaciti Kriptokunu i Anotu u Waves blockchain i mrežu.
                    Povezivanje s Waves blockchainom je i inicijalno bio naš plan zbog PoS (Proof of Stake) algoritma, niske cijene transakcija, 
                    njihove brzine i posljedično ekološki prihvatljivijeg rješenja. Ethereum ćemo i dalje koristiti u pozadini.
                    </strong></p><br>

                    <h3>Kako mogu kupiti Kriptokunu?</h3>
                    <p>Kriptokunu u ovom trenutku još uvijek nije moguće kupiti niti to ima pretjeranog smisla budući da još uvijek nisu 
                    objavljene aplikacije koje će ju koristiti, a ona je stabilni token pa nije pogodna za ulaganje. Kada to bude potrebno, Kriptokunu 
                    će biti moguće prodati i kupiti putem mjenjačnice integrirane u novčanik. Više o Kriptokuni možete pročitati 
                    <a href="/o-kriptokuni/">ovdje</a>.</p><br>

                    <h3>Kako mogu kupiti Anotu?</h3>
                    <p>ANOTE je token koji pruža infrastrukturu za Interenet bankarstvo, a ima pretprogramirani rast tako da je ujedno i investicijski 
                    token u koji se isplati uložiti već sada. Više o Anoti (ANOTE) možete pročitati <a href="/anote/">ovdje</a>, a adresu za kupnju 
                    možete pronaći <a href="/kupi/" target="_blank">ovdje</a>..</p><br>

                    <h4>Proces kupnje</h4>

                    <!-- <p><strong>Što trebamo i tražimo trenutno:</strong></p> -->
                    <p>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Otvorite kriptokunski račun na <a href="https://novcanik.kriptokuna.com" target="_blank">novcanik.kriptokuna.com</a>.<br>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sigurno backupirajte 15 seed riječi.<br>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;U novčanik prebacite Waves, Bitcoin ili Ether tokene.<br>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;U mjenjačnici integriranoj u novčanik zamijenite vašu kriptovalutu za Anote.
                    </p><br>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
