        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>O nama i našem planu</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">O nama</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <h3>Tko smo mi?</h3>

                            <p>Mi smo Anonutopia - haktivistička skupina iz Hrvatske (i šire) koja se okupila oko ideje da Hrvatska 
                            možda i nije toliko loše mjesto za život koliko se nama to trenutno čini te da možda i nije potrebno 
                            nezamislivo puno rada i truda da bismo od nje zajedno napravili ono što su nam obećavali - ugodno mjesto za život.
                            Ako političarima zamjeramo loš i korumpiran rad, učinimo nešto po tom pitanju i pokažimo im da zaista znamo o 
                            čemu pričamo kada tvrdimo da znamo i možemo bolje.</p>
                            <p>Anonutopia je živopisna i šarolika skupina entuzijasta i stručnjaka, a otvoreni smo za sve koji su nam voljni 
                            pomoći u našim zajedničkim ciljevima. Iako se radi o haktivističkom i tehnološkom pokretu, na projektu se već 
                            sada okupljaju ljudi različitih struka i interesa. Osim za hakerima i programerima gotovo odmah se pojavila 
                            potreba i za brojnim drugim strukama: blogeri, poduzetnici, marketinški stručnjaci, pravnici, 
                            ekonomisti, komercijalisti, društveno-humanistički znanstvenici i aktivisti. Svoj veliki entuzijastični 
                            doprinos od samog početka daje i jedan frizer na privremenom radu u Dublinu.</p>
                            <p>Ograničenja ni preduvjeta nema, svi su dobrodošli!</p><br>

                            <h3>Naši ciljevi</h3>

                            Ciljevi Anonutopije su sljedeći:</p>
                            <p>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;tržišnim metodama postepeno vratiti bankarski i druge sektore građanima Hrvatske pod kontrolu</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;zaustaviti negativnost i podijeljenost Hrvatske te oživiti pozitivni duh i duh suradnje</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;pomoći integrirati blockchain, smart contract i druge moderne tehnologije u hrvatski javno-politički život</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;pozicionirati Hrvatsku kao globalnog lidera u segmentu tehničkih rješenja u (direktnoj) demokraciji</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;podizati svijest i ukazivati na važnost privatnosti, anonimnosti, i sigurnosti na Inernetu</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;pomoći u odblokiravanju blokiranih građana Hrvatske</strong>
                            </p><br>

                            <h3>Plan i program</h3>
                            
                            <p>Prvi dio našeg plana već je ostvaren i završen - smisliti, dizajnirati i isprogramirati Kriptokunu
                            i prateću infrastrukturu (novčanik, web stranica, serveri i slično). Tako je nastala i Anota (Anote), naš bankarski token kojim 
                            se ponosimo koliko i Kriptokunom. Više o Anoti pročitajte <a href="/anote/">ovdje</a>, a o Kriptokuni <a href="/o-kriptokuni/">ovdje</a>. 
                            Kriptokuna i Anota su deployane u Ethereum blockchain <strong>25. lipnja 2018. godine, na Dan državnosti Republike Hrvatske</strong>.</p>
                            <p>Nakon početne faze, krećemo u crowdfunding fazu. U ovom periodu prodavači kreću prodavati Anote svima zainteresiranima u Hrvatskoj i 
                            svijetu. Ovo ne bi trebao biti težak zadatak za prodavače i marketinške stručnjake jer Anota ima uprogramiran strmi rast vrijednosti, a čitavo 
                            vrijeme dok ju posjedujete (holding), ona na vašu adresu isplaćuje zaradu u obliku Ether (ETH) kriptovalute. Osim toga, ima ugrađen i referral 
                            program od čak 20%.</p>
                            <p>Anota ima jasno izražene i prilično agresivne elemente piramidalnog marketinga. Međutim, za razliku od ostalih proizvoda koji piramidalni 
                            marketing koriste za osobno bogaćenje svojih vlasnika, Anota ga koristi za stvaranje fonda koji služi osiguravanju i smirivanju vrijednosti 
                            jedne od prvih stabilnih kriptovaluta na svijetu - Kriptokune.</p>
                            <p>Crowdfunding služi za uspostavu naše vlastite bankomatske mreže i razvoj vlastitog Open Source kripto-bankomata (AnonATM). Ukoliko 
                            crowdfunding prođe bolje od naših očekivanja, svaki višak ćemo koristiti za pojedinačno odblokiravanje blokiranih građana.</p>
                            <p>Paralelno sa crowdfunding fazom kreće i faza intenzivnog razvoja Open Source aplikacija koje će koristiti Kriptokunu (i Kriptodolar, 
                            Kriptoeuro i ostale naše kripto-ekvivalente stvarnih fiat valuta) te na taj način generirati njihovu intenzivnu potražnju iako su same 
                            aplikacije besplatne.</p>
                            <p>To će aktivirati ekonomiju Kriptokune i Anote, a Anota u svom dizajnu ima uprogramirane mehanizme koji će čitavo vrijeme financirati 
                            razvoj aplikacija koje generiraju potražnju i potrošnju, kako nje, tako i njenih kripto-fiata.</p>
                            <p>Prva aplikacija koju ćemo napraviti je AnonTaxi, besplatna Open Source aplikacija za spajanje putnika i prijevoznika kojom ćemo izbaciti 
                            Uber sa hrvatskog tržišta i vratiti onih 25% (na koje nigdje u svijetu nije plaćen porez) natrag u Hrvatsku. Ova aplikacija će se kao i sve ostale 
                            naše aplikacije nuditi u čitavom svijetu, a bit će nezaustavljiva i kompletno će raditi na blockchainu, nešto što Uber već dugo planira, a nikako 
                            ne ostvaruje.</p>
                            <p>Anonutopia ima čitav niz ovakvih projekata u planu, a svi oni će biti besplatni, Open Source i prilgođeni Kriptokuni i Anoti.</p><br>

                            <h3>Način rada i ophođenja</h3>
                            <p>Anonutopia, Kriptokuna i Anota su nastale kao produkt čistog pozitivnog duha i takvima ih želimo i zadržati. Pozitiva, zajedništvo, suradnja,
                            optimizam i ostalo čega u Hrvatskoj vidljivo nedostaje, to su ideali kojima želimo težiti ovim projektom. </p>
                            <p>Osim pozitivnog duha, i transparentnost je vrlina koja nam je jako važna iako smo anonimni haktivisti. Ovo je također nešto čega 
                            u Hrvatskoj poprilično nedostaje. Blockchain tehnologije i transparentnost želimo iskoristiti za rješavanje problema duboko ukorijenjene 
                            korupcije, a direktnu demokraciju temeljenu na smart contractima ćemo iskoristiti kao alat za borbu protiv nepotizma. Primjer takve direktne 
                            demokracije su ocjene u raznim aplikacijama. Iz ovog razloga imamo i podstranicu posvećenu <a href="/transparentnost/">transparentnosti</a>.</p>
                            <p>Uz tehnička rješenja intenzivno radimo i na modelima demokratske rasprave i odlučivanja. U Anonutopia haktivističkom timu sve odluke od početka 
                            donosimo sistemima direktne demokracije koje ćemo pružiti na raspolaganje i korisnicima Kriptokune i Anote.</p>
                            <p><a href="/pridruzi-se/"><strong>Pridruži se i radi s nama za bolju budućnost</strong></a>!</p>
                        </div>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je Anote?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
