        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Preparing Universal Basic Income</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">FAQ</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

        <p>The year 2018 was marked by boom in popularity of the blockchain technology. In a brief
time thousands of startups have gathered billions of dollars for developing decentralized
applications (dapps) that promise to bring disruptive changes in all fields of the economy.
But the disruptive potential of the new technology goes far further into the areas of political and social organization. Blockchain’s killer app is – <em>a country</em>.</p>
<h4>Blockchain Country</h4>
<p>Using distributed ledger, cryptography, smart contracts and other available technologies, it
is now possible to provide the services that existing countries provide to their citizens, but
far more efficiently, fairly, with no room for systemic corruption, and in a truly democratic
way. To achieve this, a decentralized autonomous country needs a decentralized monetary
system based on a cryptocurrency with stable value (stable coin), dapps as a
decentralized infrastructure for businesses and social services, a smart contract-based
legal and administrative framework, and democratic decision making procedures.</p>
<div class="td-a-rec td-a-rec-id-content_inline "><div class="td-all-devices"><a href="https://www.crypto-games.net"><img src="https://www.crypto-games.net/banners/animated/728x90.gif"/></a></div></div><p>Interestingly, it does not need territory. The sphere of influence of a decentralized
autonomous country is everywhere, as long as there is Internet connection. By becoming a citizen of such country, one can use its services regardless of the present countries’
borders. This kind of country can thrive alongside existing countries, using the existing
resources and infrastructure, offering its products and services on the global market, and
in return transforming national economies and offering smarter solutions to local and
global issues.</p>
<p>In June 2018 one such “smart contract” country – <a href="https://www.anonutopia.com/">Anonutopia</a> – was founded by hacktivists from Croatia by publicly announcing the development of its main cryptocurrency Anote and stable crypto-versions of Euro, US dollar, and <a href="https://www.kriptokuna.com/">Croatian kuna</a> (the so-called cryptofiats). Soon followed the joining of Serbian Anonymous hacktivist group by publishing its cryptofiat pegged to <a href="https://www.kriptodinar.com/">Serbian dinar</a>. A call for establishing other crypto-counterparts of the world’s countries and crowdfunding their development is also open for all interested groups and individuals.</p>
<h4>Anonutopia’s Economy and Monetary System</h4>
<p>The foundation that enables Anonutopia to be autonomous is its cryptocurrency-based
monetary system. The main currency, Anote, is a Waves-platform based token which has
several roles: crowdfunding coin, a decentralized stable coin with programmed price, as a
collateral for stabilizing cryptofiats, and as the platform for Anonutopia’s dapps. Cryptofiats are stable coins pegged 1:1 to fiat currencies (or can be stabilized to other fixed reference). They serve as utility tokens for products and services, as infrastructure for the economy of a particular cryptocountry, i.e. a community gathered around a cryptofiat, thus acting as a bridge towards present monetary systems and economies.</p>
<p>Anonutopia will start its economy by developing decentralized platforms for its products
and services for fulfilling its citizens needs – transport, housing, food, energy,
communication – as well as offering them on the global market. Several basic elements of
the financial infrastructure have already been developed (the cryptocurrency system,
wallet, leased proof-of-stake oracles) with others such as integrated cryptocurrency
exchange, ATMs, cash registers, Internet banking systems, personal bankers, and
gateways soon to be developed.</p>
<p>Transport platform is being developed as a dapp for taxi, ride sharing, and delivery
services. Future projects comprise housing and real estate app for short- and longterm
accommodation rental, real estate leasing and sale, app that connects local producers of
quality food directly with customers, private and secure communication software and
hardware, investing in renewable energy resources and many others.</p>
<h4>Being a Citizen in Anonutopia</h4>
<p>Part of the profit that the commercial projects achieve by creating value through
automation and using cutting-edge technology will be distributed to all Anonutopia’s
citizens in the form of universal basic income (UBI). The amount of the UBI is determined
by the size of the economy and the population of a particular cryptocountry This enables a
seamless integration with the existing countries’ monetary systems, infrastructure, and
legislation, as well as further decentralization of Anonutopia. UBI can also be multiplied by
indexes (AUBIX) which are assigned to citizens that actively engage in Anonutopia’s
development.</p>
<p>The rest of the profit goes to the fund for financing non-commercial products and services
such as decentralized health care and easily accessible education. In addition, commercial
projects will have side projects for social and charity work in their domain, such as opening anonymous women’s safe houses, food waste reduction programs, elderly care services etc. The fund’s volume is also linked to a particular cryptocountry’s economy and the distribution of the available resources is decided upon through democratic procedures by the cryptocountry’s citizens.</p>
<p>Anonutopia has announced that the experimental UBI program will be launched already at
the beginning of 2019. First payouts of UBI and testing of the index system will be
conducted among Anonutopia’s citizens. By becoming a citizen, besides the access to
UBI, one is granted the right to directly participate in deciding the course of its
cryptocountry’s development. Developing procedures and solutions for democratic
decision-making in the new technological context is one of the Anonutopia’s core focuses.
Application for citizenship is pretty simple, but in order to be able to exercise the rights the applicant has to go through a verification procedure.</p>
<p>There are also other ways for one to participate and earn in Anonutopia’s economy
besides UBI and engaging in its development. It’s possible to invest in the decentralized
financial infrastructure by leasing Waves tokens to Anote’s leased proof-of-stake oracles,
by running an oracle, or by being a small or large scale gateway to other financial
institutions. As an early adopter in the crowdfunding campaign one can profit simply from
holding a certain amount of anotes or engaging in the referral program. Anonutopia is also open to collaboration with existing businesses.</p>
<h4>Guiding ideas and plans</h4>
<p>Anonutopia follows some basic principles in its work intrinsic to the blockchain technology
it is built upon. Anonutopia highly values anonymity of its citizens, hence the Anon- in its
name, both as a prerequisite for online privacy and security and as a defense against the
dangerous trends in centralization powered by AI development. Particular attention is paid
to developing tools for as well as educating Anonutopians on anonymity, privacy, security
and information literacy. The mission is to realize possibilities of human collaboration and
trust by releasing the potentials of the Internet as a decentralized medium. Paying no
minds to the current political borders, it is at the same time everywhere and nowhere,
utopia in the literal sense. Another guiding principle is transparency of Anonutopia’s
activities, plans, and results. All the software is open source, available for review and
contributions, and the plans are publicly stated and discussed. Decentralization and
democratic decision-making ensure the open-ended nature of the system and its future
path, thus making it a non-utopia.</p>
<p>Together with opening the citizenship application process, Anonutopia has started a viral
crowdfunding campaign for its core projects. The plan is to test its developed platforms in
the area of Southeast Europe. Choosing the Balkan countries as a test field for
Anonutopia’s products and services is not random – with the recent history of different
social and political systems, i.e. the post-communist climate and the transition problems,
the loss of trust in the crumbling institutions of the society, huge corruption issues and
massive emigration, these areas seem like a fertile ground for developing and
implementing blockchain-powered economic, social, and political innovations.
You can find out more about Anonutopia’s crowdfunding campaign <a href="https://www.anonutopia.com/crowdfunding/">here</a>, and how to collect your 1 free Anote <a href="https://www.anonutopia.com/airdrop/">here</a>.</p>

                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">Anote</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/faq/">&dash;&dash;&nbsp;&nbsp;FAQ</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>