        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>How to Make Profit in Anonutopia?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Making Profit</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>Just by becoming a full citizen of Anonutopia, every user becomes eligible for Anonutopia's universal 
                            basic income. However, there are plenty of ways to make money in Anonutopia by providing different kinds 
                            of services on some very different levels. You can help by investing and holding ANOTE and you make money 
                            just by that, you can lease your Waves to us for staking with our node and help us secure Waves network 
                            etc. Bellow are listed all the ways to make money in Anonutopia that are currently possible. This list 
                            will be continuously expanded.
                            </p><br>

                            <h3>ANOTE Holder</h3>

                            <p>By buying and holding ANOTE you in fact create new value in our system and you get rewarded for it. Every 
                            time somebody purchases new ANOTE tokens, you get a small piece of that (proportionally to your stake). This 
                            fee is paid to you in the same cryptocurrency in which new purchase happened (Waves, Bitcoin, Ether or 
                            crypto-fiat). You can withdraw this or purchase new ANOTE with it.
                            </p><br>

                            <h3>ANOTE Referral</h3>

                            <p>Every time you refer somebody to one of our websites or wallets using your address (by adding ?r=address), 
                            this will be saved. And in case a referred user ever purchases ANOTE, you will get a referral fee of 20% in 
                            currency in which the purchase happened. You can also withdraw this or purchase ANOTE with it. You don't have 
                            to be a holder in order to be a referral.
                            </p><br>

                            <h3>Anonutopia Bankster</h3>

                            <p>You're a personal banker of Anonutopia's "banking system". You deal with cash and / or Internet banking. You are 
                            our small gateway to the banking system and a bridge between a regular user and our advanced technology. You make fees 
                            by doing so.
                            </p><br>

                            <h3>AnonOracle</h3>

                            <p>AnonOracles are the very foundations of our system and infrastructure. They carry our whole technical infrastructure,
                            besides Waves and Ethereum. They are server daemons and they need to have a leased stake of 1,000,000 ANOTEs, but because 
                            of that, they make money just by providing our blockchains with outside data. Our final goal is to make AnonOracles hold all 
                            our funds in multi-signature wallets.
                            </p><br>

                            <h3>AnonGateway</h3>

                            <p>This is basically a large Bankster running an AnonOracle node. They are our main and large scale gateways to the 
                            traditional banking systems. They are our financial institutions and in case of many countries, they probably actually will 
                            be exactly that in terms of national law.
                            </p><br>

                            <h3>Waves Holder</h3>

                            <p>You're helping us secure Waves network as it is our underlying infrastructure. You lease your Waves tokens to our Waves 
                            node and you get rewards and fees proportionally to your stake. Lease to the address below in orther to start staking:
                            </p>

                            <p><strong>3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</strong></p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/">Crowdfunding</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/cryptocountries/">Crypto Countries</a>
                            <a href="https://www.kriptokuna.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Croatia</a>
                            <a href="https://www.kriptodinar.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Serbia</a>
                            <a href="/about/">About</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/">Apply for Citizenship</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
