        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>What Products Are We Building?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Our Products</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>What is a country without it's own infrastructure? Anonutopia has many Open Source and free projects and 
                            applications which have the purpose of building our own infrastructure and providing us with profit used for 
                            universal basic income.
                            </p>
                            
                            <p>Here are some of them:</p><br>

                            <h3>ANOTE</h3>

                            <p>Our main product is our currency - ANOTE. This is Anonutopia's decentralized stable coin 
                            programmed by using game theory, smart contracts and LPoS (Leased Proof of Stake) oracles - 
                            AnonOracles. It is also an investment and banking token. Read more about ANOTE <a href="/anote/">here</a>.
                            </p><br>

                            <h3>Crypto Equivalents for Fiat Currencies</h3>

                            <p>Anonutopia's centralized stable coins - CryptoEuro, CryptoDollar, etc.
                            </p><br>

                            <h3>AnonTaxi</h3>

                            <p>Anonutopia's ride-sharing, rent-a-car  and taxi app.
                            </p>

                            <p><a href="https://github.com/anonutopia/anontaxi" target="_blank">GitHub</a></p><br>

                            <h3>AnonATM</h3>

                            <p>Cheap, accessible and Open Source crypto ATM that uses our Open Source software. Still 
                            under the development.
                            </p><br>

                            <h3>AnonWallet</h3>

                            <p>Anonutopia's wallet, based on Waves wallet. For now it's only web based, but we're 
                            preparing Android and iOS versions.
                            </p>

                            <p><a href="https://github.com/anonutopia/anonwallet" target="_blank">GitHub</a></p><br>

                            <h3>AnonExchange</h3>

                            <p>Our own cryptocurrency and fiat exchange attached to Waves DEX in the background. Still 
                            under the development.
                            </p><br>

                            <h3>AnonOracle</h3>

                            <p>Foundations of our banking system, they use LPoS (Leased Proof of Stake) principles to 
                            provide our network with useful outside data, they hold our funds in multi-signature wallets etc.
                            </p>

                            <p><a href="https://github.com/anonutopia/anonoracle" target="_blank">GitHub</a></p><br>

                            <h3>GoWaves</h3>

                            <p>Waves Platform Golang library..
                            </p>

                            <p><a href="https://github.com/anonutopia/gowaves" target="_blank">GitHub</a></p><br>

                            <h3>WavesCLI</h3>

                            <p>Waves Platform CLI (Command Line Interface).
                            </p>
                            
                            <p><a href="https://github.com/anonutopia/waves-cli" target="_blank">GitHub</a></p><br>

                            <h3>AnonPortal</h3>

                            <p>CMS (Content Management System) for our own network of websites, cuould be used for 
                            a smaller news portal.
                            </p>

                            <p><a href="https://github.com/anonutopia/anonportal" target="_blank">GitHub</a></p><br>

                            <h3>AnonNet</h3>

                            <p>Anonutopia's Ethereum network and blockchain. Private for now, but it will go public soon.
                            </p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/projects/">Projects</a>
                            <a href="/contact/">Contact</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
