        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Staking (Leasing) Waves with Our Node</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Staking</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <p>If you're new to Waves LPoS (Leased Proof of Stake), you can read more about it 
                            <a href="https://blog.wavesplatform.com/blockchain-leasing-for-proof-of-stake-bac5335de049" target="_blank">here</a> 
                            and <a href="https://docs.wavesplatform.com/en/platform-features/leased-proof-of-stake-lpos.html">here</a>.</p>

                            <p>We collect funds in Waves, Ether and Bitcoin through <a href="/anote/">ANOTE</a>. These funds will 
                            be used for crowdfunding our projects and making them profitable, but most of them will be used for 
                            stabilizing our stable coins which means they will never be spent completely so we can use these Waves 
                            for staking with our node.</p><br>

                            <h5>Pledge - Sponsored Leased Staking</h5>

                            <p>We will lease all Waves we raise in our crowdfunding campaign to our node address for staking. If you 
                            lease your Waves to us too, you will receive your your share in prize.</p>

                            <p>As a growth hacking (marketing) technique, we pledge here that we will exclude all our addresses when sharing 
                            the staking prize thus theoretically <u>making our node the most profitable</u> for everybody else - meaning 
                            you. Our goal is to become the biggest node in a short amount of time.</p><br>

                            <h5>Leasing to Anonutopia Node</h5>

                            <p>Please lease to this address to start staking with Anonutopia:</p>

                            <p>3PLJQASFXtiohqbirYwSswjjbYGLfaGDEQy</p>

                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/about/">About</a>
                            <a href="/crowdfunding/">&dash;&dash;&nbsp;&nbsp;Crowdfunding</a>
                            <a href="/cryptocountries/">&dash;&dash;&nbsp;&nbsp;Crypto Countries</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                            <a href="/docs/">Docs</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags in Anonutopia</a>
                            <a href="/staking/">&dash;&dash;&nbsp;&nbsp;Staking with Our Node</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/" style="color: #E42D20;"><strong>Apply for Citizenship</strong></a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
