        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Tags in Anonutopia</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Tags</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <p>Tags are a very important part of Anonutopia's network and software. Tags determine features, 
                            rights and responsibilities for a citizen, as well as citizen's index for universal basic income.
                            </p><br>

                            <h5>Anonutopia Tags and Indexes</h5>

                            <p>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Applicant = 0.01 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Citizen = 1.00 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Founder = 2.50 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Bankster = 2.00 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Hacker = 3.00 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Worker = 2.00 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Anon = 2.50 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Avatar = 2.50 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Alumni = 2.00 AUBIX<br>
                                <i class="fa fa-tag"></i>&nbsp;&nbsp;Hero = 5.00 AUBIX<br>
                            </p>

                            <p>AUBIX - Anonutopia Universal Basic Income Index.</p>

                            <p>Every Anonutopian can have one or more tags and AUBIX indexes accordingly. Their AUBIXs get multiplied 
                            and that's how their universal basic income is calculated.
                            </p>

                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/">Crowdfunding</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/cryptocountries/">Crypto Countries</a>
                            <a href="https://www.kriptokuna.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Croatia</a>
                            <a href="https://www.kriptodinar.com/" target="_blank">&dash;&dash;&nbsp;&nbsp;Crypto Serbia</a>
                            <a href="/about/">About</a>
                            <a href="/tags/">&dash;&dash;&nbsp;&nbsp;Tags</a>
                            <a href="/contact/">&dash;&dash;&nbsp;&nbsp;Contact</a>
                        </div><br><br>
                        <div class="widget-category">
                            <a href="/apply/">Apply for Citizenship</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="/projects/">Projects</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
