        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Transparentnost</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Transparentnost</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <p>U svrhu pune transparentnosti pružamo na uvid sve relevantne podatke.</p><br>

                    <h3>Opći podaci</h3>
                    <p><strong>Anonutopia GitHub</strong><br>
                    <a href="https://github.com/anonutopia" target="_blank">https://github.com/anonutopia</a></p>
                    <p><strong>Anote smart contract</strong><br>
                    <a href="https://github.com/anonutopia/smart-contracts/blob/master/ant.sol" target="_blank">Izvorni kod</a></p>
                    <p><strong>Kriptokuna smart contract</strong><br>
                    <a href="https://github.com/anonutopia/smart-contracts/blob/master/fiats/ahrk.sol" target="_blank">Izvorni kod</a></p>
                    <p><strong>Anonutopia liste zadataka</strong><br>
                    <a href="https://github.com/anonutopia/anonutopians" target="_blank">TODO</a></p><br>

                    <!-- <h3>Glavna Ethereum mreža</h3>
                    <p><strong>Adresa Anote smart contracta (<u>ovo nije adresa za uplatu, uplata se obavlja putem <a href="/novcanik/">novčanika</a></u>)</strong><br>
                    0xb7d01eB43713C60F19CD15341fF4A09afB528075</p>
                    <p><strong>Raspodjela Anote holdera</strong><br>
                    <a href="https://etherscan.io/token/0xb7d01eB43713C60F19CD15341fF4A09afB528075#balances" target="_blank">Holderi</a></p><br> -->
                    
                    <!-- <h3>Rinkeby testnet mreža</h3> -->

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je Anote?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>