        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Prijavi se u Kriptokuna Core Team</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Pridruži se</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png" alt=""><br>
                        </div>
                        <div class="blog-content">

                            <h3>Kreni s volontiranjem već danas!</h3>

                            <p><strong>Što trebamo i tražimo trenutno:</strong></p>
                            <p>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#avatari">Avatari</a><br>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#hackeri">Hackeri</a><br>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#dizajneri">Dizajneri</a><br>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#banksteri">Banksteri</a><br>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#pravo-i-porezi">Pravni, porezni i knjigovodstveni stručnjaci</a><br>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#podrska">Korisnička podrška</a><br>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#testeri">Testeri</a>
                            </p>

                            <h4 id="avatari">Avatari</h4>
                            <p>Avatari su osobe koje će u ime naše zajednice nastupati u javnosti. Za početak tražimo tri osobe koje 
                            će osnovati udrugu Kriptokuna. Ta udruga bit će naša glavna pravna osoba i sučelje prema državi, bankama i 
                            poreznom sustavu.</p>

                            <h4 id="hackeri">Hackeri</h4>
                            <p>Trebamo hackere / programere koji će raditi na mobilnim aplikacijama za Kriptokunu, mobilnoj aplikaciji 
                            za spajanje prijevoznika i putnika i Android fiskalnoj blagajni.</p>
                            <p>Tehnologije koje tražimo:</p>
                            <p>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Golang<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;React Native<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Git / GitHub<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Android<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Linux<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Solidity
                            </p>

                            <h4 id="dizajneri">Dizajneri</h4>
                            <p>Kao što je evidentno, trebamo dizajnere i UX dizajnere. :) Uz to, trebamo i osobe za produkciju video 
                            tutoriala.</p>

                            <h4 id="banksteri">Banksteri</h4>
                            <p>Banksteri su osobe koje će nam služiti kao "sučelje" prema tradicionalnom bankarskom sustavu, a prije uspostave 
                            banokmatske mreže služit će i kao ljudi-bankomati te će na svemu tome zarađivati naknadu. Ukoliko se taj model 
                            pokaže uspješnim, zadržat ćemo ga i po uzoru na aplikaciju za spajanje putnika i prijevoznika napraviti aplikaciju 
                            za spajanje onih koji imaju gotovinu i onih koji ju trebaju.</p>
                            <p>Osnovna znanja i preduvjeti koje je za ovu ulogu potrebno imati:</p>
                            <p>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;račun u nekoj od banaka<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Internet &amp; Internet bankarstvo<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;računalo / mobitel<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;osnovna informatička znanja<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;osnovno poznavanje svijeta kripto valuta
                            </p>

                            <h4 id="pravo-i-porezi">Pravni, porezni i knjigovodstveni stručnjaci</h4>
                            <p>Trebamo sve vrste pravnih, poreznih i knjigovodstvenih stručnjaka za pomoć pri osnivanju udruge, za izradu fiskalne 
                            blagajne, usklađivanje sa zakonima i regulativama. Od početka i kroz čitavo svoje djelovanje želimo u potpunosti 
                            poštovati zakone i propise Republike Hrvatske.</p>

                            <h4 id="podrska">Korisnička podrška</h4>
                            <p>Iako još uvijek nismo krenuli i aplikacije nisu spremne za korištenje, nikad nije prerano za početi formirati 
                            korisničku podršku. Naša podrška odvijat će se putem emaila i stoga je potrebano nekoliko preduvjeta za biti agent 
                            za korisničku podršku Kriptokune:</p>
                            <p>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Internet<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;računalo / mobitel<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;osnovna informatička znanja<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;osnovno poznavanje svijeta kripto valuta
                            </p>

                            <h4 id="testeri">Testeri i osiguravanje kvalitete (QA)</h4>
                            <p>Cilj nam je da naši proizvodi i aplikacije budu kvalitetni i ugodni za korištenje. Stoga ćemo odmah formirati tim 
                            za testiranje proizvoda i osiguravanje njihove kvalitete. Od potrebnih vještina i preduvjeta, bilo bi dobro imati ovo:</p>
                            <p>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Internet<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;računalo / mobitel<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;osnovna informatička znanja<br>
                                <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;osnovno poznavanje svijeta kripto valuta
                            </p>

                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

            <!-- Row -->
            <div class="row">

                <!-- contact -->
                <div class="col-sm-6 col-sm-offset-3" style="margin-bottom: 10px; margin-top: 50px;">
                    <div class="contact">
                        <img src="/img/favicon.png" style="margin-bottom: 10px; width: 80px;" />
                        <h3 id="hackersignup">Postani dio Kriptokuna Core Teama</h3>
                    </div>
                </div>
                <!-- /contact -->

                <!-- contact form -->
                <div class="col-md-6 col-sm-offset-3">
                    <form class="contact-form" style="margin-top: 0;" action="/pridruzi-se/#hackersignup" method="POST">
{{ if not .Flash.SuccessMsg}}
                        <input type="email" class="input" placeholder="Email (obavezno polje)" style="height: 56px; padding: 15px 20px;" name="email" value="{{ .Form.Email }}">

                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col-md-5 col-md-push-7">{{ .Captcha.CreateHtml }}</div>
                            <div class="col-md-7 col-md-pull-5"><input type="text" class="input" placeholder="Captcha (obaveno polje)" name="captcha" style="width: 100%; height: 56px; padding: 15px 20px;"></div>
                        </div>
{{ end }}

{{ if .Flash.ErrorMsg }}
                        <p class="bg-danger text-danger text-left" style="margin-bottom: 20px; padding: 15px 20px;">{{ .Flash.ErrorMsg }}</p>
{{ end }}
{{ if .Flash.SuccessMsg }}
                        <p class="bg-success text-success text-left" style="margin-bottom: 20px; padding: 15px 20px;">{{ .Flash.SuccessMsg }}</p>
{{ end }}
{{ if .Flash.WarningMsg }}
                        <p class="bg-warning text-warning text-left" style="margin-bottom: 20px; padding: 15px 20px;"><strong>{{ .Flash.WarningMsg }}</strong></p>
{{ end }}

{{ if not .Flash.SuccessMsg}}
                        <div class="text-left" style="margin-bottom: 20px;">
                            <p><strong>Za koje aktivnosti se prijavljujete?</strong></p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="avatari"{{ if eq .Form.Type "avatari" }} checked{{ end }}>
                                <label class="form-check-label" for="exampleRadios1">
                                    Avatari
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="hackeri"{{ if eq .Form.Type "hackeri" }} checked{{ end }}>
                                <label class="form-check-label" for="exampleRadios2">
                                    Hackeri
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios3" value="dizajneri"{{ if eq .Form.Type "dizajneri" }} checked{{ end }}>
                                <label class="form-check-label" for="exampleRadios3">
                                    Dizajneri
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios4" value="banksteri"{{ if eq .Form.Type "banksteri" }} checked{{ end }}>
                                <label class="form-check-label" for="exampleRadios4">
                                    Banksteri
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios5" value="pravo-i-porezi"{{ if eq .Form.Type "pravo-i-porezi" }} checked{{ end }}>
                                <label class="form-check-label" for="exampleRadios5">
                                    Pravo, porezi i knjigovodstvo
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios6" value="podrska"{{ if eq .Form.Type "podrska" }} checked{{ end }}>
                                <label class="form-check-label" for="exampleRadios6">
                                    Korisnička podrška
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios6" value="testiranje"{{ if eq .Form.Type "testiranje" }} checked{{ end }}>
                                <label class="form-check-label" for="exampleRadios6">
                                    Testiranje proizvoda
                                </label>
                            </div>
                        </div>

                        <button class="main-btn"><strong>Priključujem se!</strong></button>
{{ end }}
                    </form>
                </div>
                <!-- /contact form -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
